* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #081b29;
}

.container {
    position: relative;
    width: 750px;
    height: 450px;
    background: transparent;
    border: 2px solid #0ef;
    box-shadow: 0 0 25px #0ef;
    overflow: hidden;
}

.login-form {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.login {
    left: 0;
    padding: 0 60px 0 40px;
}

h2 {
    color: #fff;
    font-size: 40px;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 25px 0;
}

input {
    width: 100%;
    height: 100%;
    background: transparent;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    padding-right: 30px;
    border: none;
    outline: none;
    border-bottom: 2px solid #fff;
    transition: 0.5s;
}

input:focus {
    border-bottom-color: #0ef;
}

label {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

input:focus~label {
    top: -5px;
    color: #0ef;
}

i {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 18px;
    color: #fff;
    transition: .5s;
}

input:focus~i {
    color: #0ef;
}

.btn {
    position: relative;
    width: 100%;
    height: 45px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 40px;
    cursor: pointer;
    outline: none;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    z-index: 1;
    overflow: hidden;
}

.btn::before {
    content: "";
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 300%;
    background: linear-gradient(#081b29, #0ef, #081b29, #0ef);
    z-index: -1;
    transition: .5s;
}

.btn:hover::before {
    top: 0;
}

.reg-link {
    font-size: 14px;
    text-align: center;
    color: #fff;
    margin: 20px 0 10px;
}

.reg-link p a {
    text-decoration: none;
    margin-left: 5px;
    color: #0ef;
    font-weight: 600;
}

.side-text {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.para-div {
    right: 0;
    text-align: right;
    padding: 0 40px 60px 150px;
}

h3 {
    color: #fff;
    font-size: 35px;
    line-height: 1.3;
    text-transform: uppercase;
}

.side-text p {
    color: #fff;
    font-size: 20px;
}

.bg-animate {
    position: absolute;
    top: -4px;
    right: 0;
    width: 850px;
    height: 600px;
    border-bottom: 3px solid #0ef;
    background: linear-gradient(45deg, #081b29, #0ef);
    transform: rotate(10deg) skewY(40deg);
    transform-origin: bottom right;
    transition: 1.5s ease;
    transition-delay: 1.6s;
}

.active .bg-animate {
    transform: rotate(0) skewY(0);
    transition-delay: .3s;
}

.bg-animate2 {
    position: absolute;
    top: 100%;
    left: 250px;
    width: 850px;
    height: 700px;
    border-top: 3px solid #0ef;
    background: #081b29;
    transform: rotate(0) skewY(0);
    transform-origin: bottom left;
    transition: 1.5s ease;
    transition-delay: .5s;
}

.active .bg-animate2 {
    transform: rotate(-11deg) skewY(-41deg);
    transition-delay: 1.1s;
}

.register {
    right: 0;
    padding: 0 40px 0 60px;
}

.sign-div {
    left: 0;
    text-align: left;
    padding: 0 150px 60px 40px;
    pointer-events: none;
}

.animation {
    transform: translateX(0);
    transition: .7s ease;
    transition-delay: calc(.1s * var(--j));
}

.container.active .animation {
    transform: translateX(-120%);
    transition-delay: calc(.1s * var(--i));
}

.side-text .animation {
    transform: translateX(0);
    transition: .7s ease;
    transition-delay: calc(.1s * var(--j));
}

.container.active .side-text .animation {
    transform: translateX(120%);
    transition-delay: calc(.1s * var(--i));
}

.animation2 {
    transform: translateX(120%);
    transition: .7s ease;
    transition-delay: calc(.1s * var(--j));
}

.active .animation2 {
    transform: translateX(0);
    transition-delay: calc(.1s * var(--i));
}

.side-text .animation2 {
    transform: translateX(-130%);
    transition: .7s ease;
    transition-delay: calc(.1s * var(--j));
}

.active .side-text .animation2 {
    transform: translateX(0);
    transition-delay: calc(.1s * var(--i));
}