* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #081b29;
}

.container {
    position: relative;
    width: 750px;
    height: 450px;
    background: transparent;
    border: 2px solid #0ef;

}

.login-form {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.login {
    left: 0;
    padding: 0 40px;
}

h2 {
    color: #fff;
    font-size: 40px;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 25px 0;
}

input {
    width: 100%;
    height: 100%;
    background: transparent;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    padding-right: 30px;
    border: none;
    outline: none;
    border-bottom: 2px solid #fff;
    transition: 0.5s;
}

input:focus {
    border-bottom-color: #0ef;
}

label {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

input:focus~label {
    top: -5px;
    color: #0ef;
}

i {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 18px;
    color: #fff;
    transition: .5s;
}

input:focus~i {
    color: #0ef;
}

.btn {
    position: relative;
    width: 100%;
    height: 45px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 40px;
    cursor: pointer;
    outline: none;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    z-index: 1;
    overflow: hidden;
}

.btn::before {
    content: "";
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 300%;
    background: linear-gradient(#081b29, #0ef, #081b29, #0ef);
    z-index: -1;
    transition: .5s;
}

.btn:hover::before {
    top: 0;
}

.reg-link {
    font-size: 14px;
    text-align: center;
    color: #fff;
    margin: 20px 0 10px;
}

.reg-link p a {
    text-decoration: none;
    margin-left: 5px;
    color: #0ef;
    font-weight: 600;
}

.side-text {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.para-div {
    right: 0;
    text-align: right;
    padding: 0 40px 60px 150px;
}

h3 {
    color: #fff;
    font-size: 35px;
    line-height: 1.3;
    text-transform: uppercase;
}

.side-text p {
    color: #fff;
    font-size: 20px;
}